html, body
{
margin:0;
padding: 0;
}
body
{
  background: rgba(0, 0, 0, 0.9);
  margin-top: 50px; 
}
.main{
    width: 950px;
    margin: auto;
    border: 1px solid white;
}
h1{
    text-align: center;
    text-transform: uppercase;
    color: rgb(64, 153, 243);
}
.titre, .infos{
    display: flex;
    justify-content: space-around;
}
.p{
    color: red;
    text-align: center;
}
.contenu{
    width: 175px;
    text-align: center;
    color:white
}
.titre{
    background-color: rgb(64, 153, 243);
}
.titre h3{
    text-transform: uppercase;
}
.graph{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 950px;
    margin: auto;
    row-gap: 30px;
    padding: 50px 0px 50px 0px;
}